<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="signatureValidationMode" value="accept" /> 
    <add key="repositoryPath" value="packages" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSourceCredentials>
    <SW_CommonApplications>
      <add key="Username" value="sa-ebeam-reader" />
      <add key="ClearTextPassword" value="AP6Z58KPP9TY4RgKWagW2cSmmUWNQVDvDAniLX" />
    </SW_CommonApplications>
		<SBI-Nuget>
      <add key="Username" value="sa-ebeam-reader" />
      <add key="ClearTextPassword" value="AP6Z58KPP9TY4RgKWagW2cSmmUWNQVDvDAniLX" />
    </SBI-Nuget>
	<EBEAM-Nuget>
      <add key="Username" value="sa-ebeam-reader" />
      <add key="ClearTextPassword" value="AP6Z58KPP9TY4RgKWagW2cSmmUWNQVDvDAniLX" />
    </EBEAM-Nuget>
    <EBEAM-Nuget-AS>
      <add key="Username" value="sa-ebeam-reader" />
      <add key="ClearTextPassword" value="AP52iTFRTLLBiNSMNQxBSZGGxb4rnRjxCULchr" />
      </EBEAM-Nuget-AS>
  </packageSourceCredentials>
  <apikeys>
    <add key="https://artifactory-apps-az-us.asml.com/artifactory/api/nuget/v3/SW_CommonApplications" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAH/8K/QCHh0umxvyHaxc93wAAAAACAAAAAAADZgAAwAAAABAAAAAWzYDRVIOBvFh79NjxgJDHAAAAAASAAACgAAAAEAAAAG2bW1J+S/4UC+PS+scRSZs4AAAAYI+FPGlc11vs278clcGvnvMgXYjohAbX7kUrva25dxAMiFmKhcbrPFV+JaNnxqIcqXGERqEMhMYUAAAAl32cyvprA8XRN0AY1HSfRihjdPI=" />
    <add key="https://artifactory-apps-az-us.asml.com/artifactory/api/nuget/sbi-nuget-virtual/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAH/8K/QCHh0umxvyHaxc93wAAAAACAAAAAAADZgAAwAAAABAAAAAWzYDRVIOBvFh79NjxgJDHAAAAAASAAACgAAAAEAAAAG2bW1J+S/4UC+PS+scRSZs4AAAAYI+FPGlc11vs278clcGvnvMgXYjohAbX7kUrva25dxAMiFmKhcbrPFV+JaNnxqIcqXGERqEMhMYUAAAAl32cyvprA8XRN0AY1HSfRihjdPI=" />
    <add key="https://artifactory-apps-az-us.asml.com/artifactory/api/nuget/ebeam-nuget-virtual/" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAH/8K/QCHh0umxvyHaxc93wAAAAACAAAAAAADZgAAwAAAABAAAAAWzYDRVIOBvFh79NjxgJDHAAAAAASAAACgAAAAEAAAAG2bW1J+S/4UC+PS+scRSZs4AAAAYI+FPGlc11vs278clcGvnvMgXYjohAbX7kUrva25dxAMiFmKhcbrPFV+JaNnxqIcqXGERqEMhMYUAAAAl32cyvprA8XRN0AY1HSfRihjdPI=" /> 
 </apikeys>
  <packageSources>
    <clear />
	<!--https://confluence-apps-us.asml.com/display/HSTA/Nuget+Artifactory-->
	<add key="EBEAM-Nuget" value="https://artifactory-apps-az-us.asml.com/artifactory/api/nuget/ebeam-nuget-virtual/" />
    <add key="EBEAM-Nuget-AS" value="https://artifactory-apps-az-as.asml.com/artifactory/api/nuget/v3/ebeam-nuget-virtual/" />	
	<add key="SBI-Nuget" value="https://artifactory-apps-az-us.asml.com/artifactory/api/nuget/sbi-nuget-virtual/" />
	<!--SW_CommonApplications nuget server will been remove in the future.-->
    <add key="SW_CommonApplications" value="https://artifactory-apps-az-us.asml.com/artifactory/api/nuget/v3/SW_CommonApplications" protocolVersion="3" />	
   <!--   <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
  </packageSources>
  
<packageSourceMapping>
    <packageSource key="EBEAM-Nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="EBEAM-Nuget-AS">
      <package pattern="*" />
    </packageSource>
	<packageSource key="SBI-Nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="SW_CommonApplications">
      <package pattern="*" />
    </packageSource>
  <!--  <packageSource key="nuget.org">
		<package pattern="Microsoft.*" />
		<package pattern="System.*" />
		<package pattern="NETStandard.*" />
		<package pattern="NuGet.*" />
    </packageSource>    -->
  </packageSourceMapping>

  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
